{% extends "account_templates/account_base.html" %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center p-5 core-bg-accent rounded-3">
            <div>
                <h1 class="main-font">
                    {{ profile.first_name }} {{ profile.last_name }}
                </h1>
                <h4 class="main-font">
                    @{{ profile.username }}
                </h4>
            </div>
        </div>
        <div class="pt-2 text-end text-muted">
            <h4 class="main-font fw-light">
                Joined in {{ profile.created_at|date:"F, Y" }}
            </h4>
        </div>
    </div>
    </section>
{% endblock %}