{% extends "hub_templates/hub_base.html" %}

{% block content %}
<section class="py-5 d-flex justify-content-center align-items-center">
    <div class="container secondary-font">
        <div class="py-5">
            <h2 class="main-font">Delete Project <strong>{{ object.name }}</strong>?</h2>
        </div>
        <div class="pb-5">
            <p>Are you sure you want to delete this project? This action cannot be undone.</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Project</button>
            <a href="{% url 'list-project' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</section>
{% endblock %}
